<a href="https://colab.research.google.com/github/ors5075/IST210/blob/master/Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We picked this project because we thought that it was a good fit for what we needed to do with the data. We chose Spotify as our main focus, because it is an application that clearly needs to use  lot of data analysis techniques to make it successful. We started this project by choosing a few entities like user, song views, artists, etc. We then created attributes, including primary keys or foreign keys, for each entity. We put all of this information into a table and related each table through connectivity and cardinality. This led us to our final ER diagram that we can now look at to see the relationship between each entity.

ER DIAGRAM:

![alt text](https://raw.githubusercontent.com/ors5075/IST210/master/Group%20Project.png)

Nowadays, people use digital music streaming services to listen to songs and make a playlist of their favorite ones. One of the biggest and most successful companies is Spotify. This application clearly has been using a lot of data analysis techniques to make it such a successful one. However, there are some parts where this function hasn’t been utilized to the maximum, like helping the artists choose the best place to tackle their marketing or in other words, promote themselves. We often see cases where listeners and fans become very disappointed because the artist did not visit their country on tours. Therefore, the goal of the idea presented here is to know the region where an artist is most popular. This idea uniquely functions as a tool to help artists map their tours more precisely and thus, satisfying a lot more fans. The entities that will be presented in this small database are songs, users, country, artists, and song views. The songs entity contains two primary keys, songID and artistID. The user entity contains different attributes about the user. The country entity contains the country’s ID and the country name, region, and views. The artist’s entity contains attributes about the artists, for example, what country the artist is from. The song views entity is an end-user entity, so it is similar to a “transactions” entity, but in this case, it refers to songs. Every time that a song is being listened to, it will be added to the table. This entity contains two foreign keys as well, song ID and user ID, which show what song is being listened to and who is listening to it. Overall, all of these entities put together in our entity relationship diagram help us to show the association of artist and country, so that we can determine which region an artist is most popular.

To create a database for this information, it is best to start by looking at our ER diagram and determining which entities relate to eachother. From doing this, we can create a database that will make sense and correlate with eachother based on whatever information we are looking for. In this database, we will create a table for our song views category, that will provide data about viewID, songID, userID, viewDate, and region. Randomized data will be inserted into these tables, about five to ten entries for each. We will be able to find out information based on this table and inserted data such as how many times was this song listened to in this region, how many users listened to this song, etc. This technique would be very helpful in a company like Spotify because it allows them to organize and utilize their data in a way that is beneficial to them.

In [0]:
%load_ext sql
%sql sqlite:///SQLon1Table.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @SQLon1Table.db'

In [0]:
%%sql
DROP TABLE IF EXISTS SongViews;
CREATE TABLE SongViews(viewID text primary key, songID text, userID integer, viewDate text, region text);

 * sqlite:///SQLon1Table.db
Done.
Done.

[]

In [0]:
%%sql
INSERT INTO SongViews VALUES('view 1','song 1',123, '2020-04-01', 'USA');
INSERT INTO SongViews VALUES('view 2','song 1',456, '2020-04-06', 'Canada');
INSERT INTO SongViews VALUES('view 3','song 3',123, '2020-04-02', 'USA');
INSERT INTO SongViews VALUES('view 4','song 2',789, '2020-04-01', 'USA');
INSERT INTO SongViews VALUES('view 5','song 2',456, '2020-04-01', 'Canada');
INSERT INTO SongViews VALUES('view 6','song 4',123, '2020-04-02', 'USA');
INSERT INTO SongViews VALUES('view 7','song 4',789, '2020-04-01', 'USA');
INSERT INTO SongViews VALUES('view 8','song 5',123, '2020-04-03', 'USA');
INSERT INTO SongViews VALUES('view 9','song 1',789, '2020-04-06', 'USA');
INSERT INTO SongViews VALUES('view 10','song 3',456, '2020-04-01', 'Canada');

 * sqlite:///SQLon1Table.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

SCENARIO: A new user downloads Spotify for the first time. They like all types of music, but want to listen to songs that are most popular in their region at the time. They search for certain songs and artists but do not know if what they are listening to really is the best option for them. Spotify will be able to use data collected from other users in the region to generate an idea of which songs and artists are most listened to in that region. They can then provide a playlist to the user that contains the most listened to songs and artists that are in their region. The user can easily find this through a shared playlist on the Spotify application and will not have to worry about searching for songs and artists. The user is also able to look at the data to see how the playlist was generated.

How many different songs were listened to?

In [0]:
%%sql
select count (distinct(songID)) from SongViews;

 * sqlite:///SQLon1Table.db
Done.

[(5,)]

What is the song and user for all Spotify activity on April 1st?

In [0]:
%%sql
select songID, userID from SongViews where viewDate = '2020-04-01';

 * sqlite:///SQLon1Table.db
Done.

[('song 1', 123),
 ('song 2', 789),
 ('song 2', 456),
 ('song 4', 789),
 ('song 3', 456)]

What is all of the information for all Spotify activity in the United States?

In [0]:
%%sql
select * from SongViews where region = 'USA';

 * sqlite:///SQLon1Table.db
Done.

[('view 1', 'song 1', 123, '2020-04-01', 'USA'),
 ('view 3', 'song 3', 123, '2020-04-02', 'USA'),
 ('view 4', 'song 2', 789, '2020-04-01', 'USA'),
 ('view 6', 'song 4', 123, '2020-04-02', 'USA'),
 ('view 7', 'song 4', 789, '2020-04-01', 'USA'),
 ('view 8', 'song 5', 123, '2020-04-03', 'USA'),
 ('view 9', 'song 1', 789, '2020-04-06', 'USA')]